<script id="entry-template" type="text/x-handlebars-template">
	<h1>This is my Scope Test</h1>

	<script type="text/javascript">
		console.log("this is inside the Tealium Tool");
		tealiumTools.invokeFunction("_myLocalFunction","message");
</script>